# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
/my_venv/
/venv/

# Dataset
/data/
/datasets/

# Outputs
/outputs/
/runs/
/logs/

# Model weights
*.pth
*.pt
*.ckpt
*.bin
*.safetensors

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db