# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
/my_venv/
/venv/
.venv/

# Dataset
/data/
/datasets/

# Training outputs / checkpoints
/output/
/outputs/
/runs/
/logs/

# Model weights
*.pth
*.pt
*.ckpt
*.bin
*.safetensors
*.pth.tar

# Large archives
*.tar
*.zip
*.gz

# Ignore old figure folder
/figures/0523/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db